html,
body {
  height: 100%;
  margin: 0;
  background-color: rgba(81,163,203,255);
  background-image: url('https://images.squarespace-cdn.com/content/v1/551a19f8e4b0e8322a93850a/1573861378175-CUPY0J566KA5A117IIEE/Intro_Parallax.gif?format=1500w');
  background-size: 40%;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  animation: scrollBackground 70s linear infinite; /* Use 'animation' property to apply the animation */
}

/* Define the keyframes for the scroll animation */
@keyframes scrollBackground {
  from {
    background-position: 0%; /* Start from the left side */
  }
  to {
    background-position: -100%; /* End at the right side */
  }
}

.container {
  display: flex;
  min-height: 100%;
}

.left {
  flex: 1;
  max-width: 33.33%;
  background-image: url('media/TG.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.content {
  padding: 20px;
  color: white;
  font-family: Tahoma, sans-serif;
}

.right {
  margin-left: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right a {
  color: rgb(16, 241, 249);
  box-shadow: inset 0 0 0 0 #0e0043;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  background-color: rgba(103, 8, 6, 0.295);
  font-size: 30px;
}

.right .links a {
  color: rgb(16, 241, 249);
  background-color: transparent;
  font-size: 50px;
}

.right a:hover {
  color: hotpink;
  box-shadow: inset 500px 0 0 0 #0e0043;
}

.container h1,
.container h2,
.container p,
.container li {
  color: white;
  font-family: Tahoma, sans-serif;
}

.progress-container {
  width: 600px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.bar {
  background-color: #e5e5e5;
  height: 20px;
  width: 100%;
}

.progress {
  background-color: #a600ff;
  height: 100%;
  width: 50%;
}

.progress-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.current-status {
  font-size: 15px;
  margin-top: 5px;
}
